<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div>
      <div>
        {{> header}}
    </div>
    <br/>
    <div class="jumbotron">
      <p>
        Here's a list of all our messages
      </p>
    </div>
  </div>
  </body>
</html>